.game-board {
	margin-top: 20px;
	width: 64%;
	background-color: #fff;
	color: #444;
	user-select: none;
}

.row {
	border-top: 1px solid #ccc;
	line-height: 10px;
}

.row:last-child {
	border-bottom: 1px solid #ccc;
}

.cell {
	display: inline-block;
	background-color: #fff;
	border-left: 1px solid #ccc;
	margin-left: -1px;
	height: 100%;
	text-align: center;
}

.cell:last-child {
	border-right: 1px solid #ccc;
	margin-right: -1px;
}
